<form id="form" name="form" method="post">
  <label>Your Name:
    <input type='text' name='name' id='name' placeholder='type your name here' />
  </label><br>
  <label>What country are you from?:
    <input type='text' name='country' id='country' placeholder='type your country here' />
  </label><br>
  <label>What was your time?:
    <input type='number' name='time' id='time' placeholder='hh:mm:ss' />
  </label><br>
  <input type="submit" name="submit" id="submit" />
</form>