
<form class="form" name="form" method="post">
  <h3 id='question'>ARE YOU READY TO RACE THE BEST?</h3>
    <h4>Fill in the information below to see how you'd stack up against the world's top runners.</h4>
  <ul>
    <li>
      <label for='race'>Race Type</label>
      <select class='race' name='race'>
        <option value="one" selected="one">100-meter</option>
        <option value="four" selected="four">400-meter</option>
        <option value="half" selected="half">Half Marathon</option>
        <option value="mile" selected="mile">1 Mile</option>
        <option value="full" selected="full">Full Marathon</option>
      </select>
    </li>    
    <li>
      <label for='name'>Name</label>
      <input type='text' name='name' id='name'>
      <span>Enter your full name here</span>
    </li>
    <li>
      <label for='country'>Country</label>
      <input type='text' name='country' id='country'>
      <span>Enter the name of your country</span>
    </li>
    <li>
      <label for='time'>Race Time</label>
      <input type='text' name='time' id='time'>
      <span>Enter your marathon PB (h:mm:ss)</span>
    </li>
    <li>
      <label for='file'>Upload a Photo</label>
      <input type='file' name='file' id='file'>
      <span>Supported files: jpg, jpeg, png.</span>
    </li>
    <li>            
      <input type="submit" value="Let's Race!">
    </li>
</ul>
</form>
