
<form class="form" name="form" method="post">
  <ul>
    <li>
      <label for='name'>Name</label>
      <input type='text' name='name' id='name'>
      <span>Enter your full name here</span>
    </li>
    <li>
      <label for='country'>Country</label>
      <input type='text' name='country' id='country'>
      <span>Enter the name of your country</span>
    </li>
    <li>
      <label for='time'>Race Time</label>
      <input type='text' name='time' id='time'>
      <span>Enter your marathon PB (hh:mm:ss)</span>
    </li>
    <li>            
      <input type="submit" value="Let's Race!">
    </li>
</ul>
</form>
