

<meta charset="UTF-8">
<title>Go for the GOLD!</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
  body { 
    padding-top:50px; 
    text-align: center;
  }
  h1 {
    color: red;
    text-align: center;
  }
  .runnerCol {
    background-color: yellow;
    padding: 25px;
    border: 1px solid red;
    text-align: center;
  }
li {
    list-style: none;
  }


</style>
