  <% include ../partials/_header %>

    <main id='middle'>
      <h3>Meet the Top 3 Marathon Runners in the World!</h3>      
      
      <table id='table'>
        <tr>
          <td></td>
          <td><img src="./static/img/ellie_dad.jpg" alt=""></img></td>
          <td><img src="./static/img/full/0.jpg" alt=""></img></td>
          <td><img src="./static/img/full/1.jpg" alt=""></img></td>
          <td><img src="./static/img/full/2.jpg" alt=""></img></td>
        </tr>

        <% include ../partials/_tableCont %>

    </main>
  </body>
</html>  