  <% include ../partials/_header %>

    <main>
    <h3>Meet the Top 3 Half Marathon Runners in the World!</h3>       
      <table id='table'>
        <tr>
          <td></td>
          <td><img src="./static/img/ellie_dad.jpg" alt=""></img></td>
          <td><img src="./static/img/half/0.jpg" alt=""></img></td>
          <td><img src="./static/img/half/0.jpg" alt=""></img></td>
          <td><img src="./static/img/half/2.jpg" alt=""></img></td>
        </tr>

        <% include ../partials/_tableCont %>
        
    </main>
  </body>
</html>  