<DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_head %>
</head>
<body>
    <header>
      <h1>GO FOR THE GOLD</h1>

    </header>

    <main>
      <div class= 'topTitle'>
          <h3>Are you ready to race the best?</h3>
          <h6>Fill in the information below to see how you'd stack up against the world's top marathoners</h6>
        
        <div id='userForm'>
          <% include ../partials/_form %>
        </div>
        </div>
    </main>

    <footer>
      <% include ../partials/_footer %>
    </footer>
</body>
</html>  