<DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_head %>
</head>
<body>
    <header>
      <h1>GO FOR THE GOLD</h1>

    </header>

    <main>
      <div class= 'topTitle'>
        <div id='userForm'>
          <% include ../partials/_form %>
        </div>
        </div>
    </main>
</body>
</html>  