<DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_head %>
</head>
<body>
    <header>
      <h1>GO FOR THE GOLD</h1>
    </header>

    <main>
        <h3>You're a speed machine!</h3>
      
      <table id='table'>
          <tr>
            <td> </td>
            <td><img src="./static/img/ellie_dad.jpg" alt=""></img></td>
            <td><img src="./static/img/full/0.jpg" alt=""></img></td>
            <td><img src="./static/img/full/1.jpg" alt=""></img></td>
            <td><img src="./static/img/full/2.jpg" alt=""></img></td>
          </tr>
          <% include ../partials/_tableCont %>

    </main>

    <footer>
      <% include ../partials/_footer %>
    </footer>
</body>
</html>  