  <% include ../partials/_header %>

    <main>
    <h3>Meet the Top 3 100-meter Runners in the World!</h3>
    <h4>(aka: Usain Bolt)</h4>       
      <table id='table'>
        <tr>
          <td></td>
          <td><img src="./static/img/ellie_dad.jpg" alt=""></img></td>
          <td><img src="./static/img/one/0.jpg" alt=""></img></td>
          <td><img src="./static/img/one/1.jpg" alt=""></img></td>
          <td><img src="./static/img/one/2.jpg" alt=""></img></td>
        </tr>

        <% include ../partials/_tableCont %>
        
    </main>
  </body>
</html>  